#title {
    background-color: #eee;
    color: #000;

}
#menu {
    border-top: solid 6px #f00;
    background-color: #f00;
    color: #fff;
    height: 400px;
}

#menu a {
    background-color: #f00;
    color: #fff;
    text-decoration: none;
    display: block;
}
#menu a:hover {
    background-color: #f00;
    color: #ddd;
    text-decoration:underline;
    display: block;
}

#content {

}

#postDisplay
{
    background-color: darkgray;
    padding-top: 1px;
    font-size: 1.3em;
}

#postDisplay h2
{
    border-bottom-style: solid;
}

.imageContainer
{
    border-bottom-style: solid;
}

#postDisplayDetailsBar
{
    color: white;
    background-color: #5e5e5e;
}

#categoryDisplay
{
    padding-right: 4em;
}

#postDisplayDetailsBar p
{
    display: inline-block;
}

#commentSection
{
    background-color: lightgray;
    font-size: 1.1em;
}

.comment
{
    background-color: white;
    border-style: solid;
}

.commentinfo p
{
    display: inline;
}

.replyBox
{
    height: 142px;
}

.loginDiv
{
    display: block;
}

.loginDiv label
{
    width: 8em;
}

.loginDiv .checkFail
{
    width: auto;
    color: red;
}

.formSuccess
{
    color: green;
}
.loginForm
{
    font-size: 1.3em;
}

#postContainer
{
    background-color: #cccccc;
    margin-top: 10px;
    padding-top: 10px;
}


.postListing
{
    border: #222222;
    border-style: double;
    background-color: white;
}

#userDetails
{
    font-size: 1.3em;
}

#optionsMenu
{
    font-size: 1.3em;
    background-color: #cccccc;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#optionsMenu ul
{
    list-style: none;
    padding-left: 20px;
}

#loginButtonForm
{
    background-color: #cccccc;
    padding-left: 0;
    border-style: none;
}

.loginButton
{
    border-style: none;
    font-size: 1.3em;
    background-color: #cccccc;
    padding-left: 0;
}

.noRightPad
{
    padding-right: 0px;
}

#footer {
    margin_top: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.contact-div
{
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 10px;
    padding-left: 10px;
    background-color: lightgray;
}

.contact-div h3
{
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    font-style: oblique; /* idk about this but something is needed to distinguish the names as clickable */
}
.contact-div h3:hover
{
    color: whitesmoke;
}

.clickableText
{
    cursor: pointer;
    font-style: oblique;
}

.chatMessage
{
    border-style: solid;
    border-color: lightblue;
    background-color: lightblue;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 5ch;
}
.received
{
    text-align: left;
    border-left-style: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 5px;
}
.sent
{
    text-align: right;
    border-right-style: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-right: 5px;
}

.timeSent
{
    font-size: 70%;
}

.messageInput
{
    width: 100vw;
}

.notification
{
    text-align: center;
    background-color: yellow;
    border-radius: 10px;
    width: 16ch;
    padding-top: 2px;
    padding-bottom: 2px;
}

.typingStatus
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.messageImage
{
    max-width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}